# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode

# ignore package-lock.json and like
package-lock.json
node_modules

# Webpack compilation output
./client/dist/bundle.js
bundle.js

#API key file
config.js
/config.js