/* apply grid to format everything in Product overview Container! */
.ImageGalleryContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 50vh;
}

.ImageGalleryContainer {
  grid-area: 1 / 1 / 3 / 2;
}
.ProductDetailContainer {
  grid-area: 1 / 2 / 2 / 3;
}
.StylesContainer {
  grid-area: 2 / 2 / 3 / 3;
}
