#ProductContainer {
  display: grid;

  grid-template-columns: 60% 40%;
  /* grid-template-rows: 20% ; */
}

/* .ProductDetailContainer {
    grid-area: right;
} */

.carouselContainer{
  border-width: thin;
  border-style: solid;
  background: #e6e6e6;
}

.styleWidgetimgs {
  border-radius: 50%;
}
