/* QA-Container Styling */
.QAcontainer {
  border: solid 3px black;
}

.QAcontainer_header {
  border: solid 2px sienna;
  display: flex;
  justify-content: center;
}

.QAcontainer_subheader {
  border: solid 2px sienna;
  display: flex;
  justify-content: center;
}

/* QA-List Styling */
.QAlist {
  border: solid 2px blueviolet;
  display: flex;
  justify-content: space-evenly;
}

.QAlist_displayCount {
  border: solid 2px blueviolet;
  font-size: x-small;
}

.QAlist_askButton {
  border: solid 2px blueviolet;
}

.QAlist_sortButton {
  border: solid 2px blueviolet;
}

.QAlist_container {
  border: solid 2px blueviolet;
}

.QAlist_loadMoreQuestions {
  border: solid 2px blueviolet;
  display: flex;
  justify-content: center;
}


/* QA-QuestionEntries Styling */
.QAqentries {
  border: solid 2px green;
  display: flex;
  justify-content: space-evenly;
}

.QAqentries_meta {
  border: solid 2px green;
  font-size: x-small;
}

.QAqentries_question {
  border: solid 2px green;
  font-size:x-large
}

.QAqentries_questionBody {
  border: solid 2px green;
  font-size:medium;
}

.QAqentries_addButton {
  border: solid 2px green;
}



/* QA-AnswerEntries Styling */
.QAaentries {
  border: solid 2px darkred;
  display: flex;
  justify-content: space-evenly;
}

.QAaentries_meta {
  border: solid 2px darkred;
  font-size: x-small;
}

.QAaentries_answer {
  border: solid 2px darkred;
  font-size:x-large
}

.QAaentries_answerBody {
  border: solid 2px darkred;
  font-size:medium
}

.QAaentries_loadMore {
  border: solid 2px darkred;
  display: flex;
  justify-content: space-evenly;
}

.QAaentries_displayCount {
  border: solid 2px darkred;
  font-size: x-small;
}

.QAaentries_loadButton {
  border: solid 2px darkred;
}

.QAaentries_collapse {
  border: solid 2px darkred;
  display: flex;
  justify-content: space-evenly;
}

.QAaentries_collapseButton {
  border: solid 2px darkred;
}

.QAaentries_images {
  border: solid 2px darkred;
  display: flex;
  justify-content: space-evenly;
}

.QAaentries_thumbnails {
  border: solid 2px darkred;
  height: 50px;
  width: 50px;
}

/* QA-Search Styling */
.QAsearch {
  border: solid 2px goldenrod;
  display: flex;
  justify-content: center;
}

.QAsearch_bar {
  border: solid 2px goldenrod;
}

/* QA-QuestionModal Styling */
.QAqmodal {
  border: solid 2px mediumblue;
}

.QAqmodal_title {
  border: solid 2px mediumblue;
  display: flex;
  justify-content: center;
}

.QAqmodal_subtitle {
  border: solid 2px mediumblue;
  display: flex;
  justify-content: center;
}

.QAqmodal_label {
  border: solid 2px mediumblue;
  display: flex;
  justify-content: space-between;
}

.QAqmodal_inputField {
  border: solid 2px mediumblue;
}

.QAqmodal_textareaField {
  border: solid 2px mediumblue;
}

.QAqmodal_subscript {
  border: solid 2px mediumblue;
  font-size: x-small;
}

.QAqmodal_submitButton {
  border: solid 2px mediumblue;
}


/* QA-AnswerModal Styling */
.QAamodal {
  border: solid 2px purple;
}

.QAamodal_title {
  border: solid 2px purple;
  display: flex;
  justify-content: center;
}

.QAamodal_subtitle {
  border: solid 2px purple;
  display: flex;
  justify-content: center;
}

.QAamodal_label {
  border: solid 2px purple;
  display: flex;
  justify-content: space-between;
}

.QAamodal_inputField {
  border: solid 2px purple;
}

.QAamodal_textareaField {
  border: solid 2px purple;
}

.QAamodal_uploadButton {
  border: solid 2px purple;
}

.QAamodal_subscript {
  border: solid 2px purple;
  font-size: x-small;
}

.QAamodal_submitButton {
  border: solid 2px purple;
}

/* QA-ImageContainer Styling */
.QAimage {
  border: solid 2px rgb(112, 165, 42);
  display: flex;
  justify-content: space-evenly;
}

.QAimage_thumbnail {
  border: solid 2px rgb(112, 165, 42);
  height: 50px;
  width: 50px;
}