/* QA-Container Styling */
.QAcontainer {
  border: solid 3px black;
}

.QAcontainer_header {
  border: solid 2px sienna;
}

.QAcontainer_subheader {
  border: solid 2px sienna;
}

/* QA-List Styling */
.QAlist {
  border: solid 2px blueviolet;
}

.QAlist_displayCount {
  border: solid 2px blueviolet;
}

.QAlist_askButton {
  border: solid 2px blueviolet;
}

.QAlist_sortButton {
  border: solid 2px blueviolet;
}

.QAlist_container {
  border: solid 2px blueviolet;
}

.QAlist_loadMoreQuestions {
  border: solid 2px blueviolet;
}


/* QA-QuestionEntries Styling */
.QAqentries {
  border: solid 2px green;
}

.QAqentries_meta {
  border: solid 2px green;
}

.QAqentries_question {
  border: solid 2px green;
}

.QAqentries_addButton {
  border: solid 2px green;
}

.QAqentries_loadMore {
  border: solid 2px green;
}

.QAqentries_displayCount {
  border: solid 2px green;
}

.QAqentries_loadButton {
  border: solid 2px green;
}

.QAqentries_collapse {
  border: solid 2px green;
}

.QAqentries_collapseButton {
  border: solid 2px green;
}


/* QA-AnswerEntries Styling */
.QAaentries {
  border: solid 2px darkred;
}

.QAaentries_meta {
  border: solid 2px darkred;
}

.QAaentries_answer {
  border: solid 2px darkred;
}

/* QA-Search Styling */
.QAsearch {
  border: solid 2px goldenrod;
}

.QAsearch_bar {
  border: solid 2px goldenrod;
}

/* QA-QuestionModal Styling */
.QAqmodal {
  border: solid 2px mediumblue;
}

.QAqmodal_title {
  border: solid 2px mediumblue;
}

.QAqmodal_subtitle {
  border: solid 2px mediumblue;
}

.QAqmodal_label {
  border: solid 2px mediumblue;
}

.QAqmodal_inputField {
  border: solid 2px mediumblue;
}

.QAqmodal_textareaField {
  border: solid 2px mediumblue;
}

.QAqmodal_subscript {
  border: solid 2px mediumblue;
}

.QAqmodal_submitButton {
  border: solid 2px mediumblue;
}


/* QA-AnswerModal Styling */
.QAamodal {
  border: solid 2px brown;
}

.QAamodal_title {
  border: solid 2px brown;
}

.QAamodal_subtitle {
  border: solid 2px brown;
}

.QAamodal_label {
  border: solid 2px brown;
}

.QAamodal_inputField {
  border: solid 2px brown;
}

.QAamodal_textareaField {
  border: solid 2px brown;
}

.QAamodal_uploadButton {
  border: solid 2px brown;
}

.QAamodal_subscript {
  border: solid 2px brown;
}

.QAamodal_submitButton {
  border: solid 2px brown;
}

/* QA-ImageContainer Styling */
.QAimage {
  border: solid 2px rgb(112, 165, 42);
}

.QAimage_thumbnail {
  border: solid 2px rgb(112, 165, 42);
}