* {
  outline: none !important;
}
#header-logo {
  /* width: auto; */
  height: 160px;
}
#header {
  background-color: #F2F2F2;
  margin-bottom: 10px;
  border-bottom: solid;
}

[class ^= slick] {
  outline: none !important;
  overflow: visible;
}

#app {
  background-color: #F2F2F2;
}

h1, h2, h3, .related-modal-table-title {
  font-family: 'Oswald', sans-serif;
  color: black;
}

div, span {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Oswald', sans-serif;
}

.related-card-div, .outfits-card-rating {
  font-size: 5px;
}
.related-container {
  height: 1000px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F2F2F2;
  overflow: hidden;
  position: relative;
  margin-left: 8%;
}

/* .related-list-container {
  overflow: hidden
} */

.related-list,
.outfits-list {
  width: 90%;
  /* height: 250px; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  /* overflow: hidden; */
}


.related-list-card, .outfits-list-card {
  border: 1px solid #39393C;
  /* border-radius: 5px; */
  height: 275px;
  width: 200px;
  min-width: 200px;
  margin: 10px;
  position: relative;
  background-color: white;
}

.related-list-card:hover, .outfits-list-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outfits-list-title {
  text-align: left;
  margin: 0 0 -1em 3.3em;
}

.outfits-list-card {
  left: 4%;
}

.related-list-card-img, .outfits-list-card-img {
  width: 100%;
  height: 66%;
}

.related-items-title {
  text-align: left;
  margin: 0 0 0 3em;
}

.related-card-category, .outfits-card-category {
  font-size: .8em;
  line-height: .1em;
}

.related-card-sale-price {
  font-size: 1em;
  line-height: 1em;
  color: red;
}

.related-card-price, .outfits-card-price {
  font-size: 1em;
}

.related-card-name, .outfits-card-name  {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

.related-card-name {
  cursor: pointer;
}


.related-card-name:hover {
  text-decoration: underline;
}

.checked {
  color: #F4ABAB;
  float: right;
  position: absolute;
  left: 85%;
  top: 3%;
  font-size: 1.5em;
  cursor: pointer;
}

.checked:hover {
  color: #F2F2F2;
}

/* The Modal (background) */
/* .comparison-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
} */


.comparison-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 17%;
  top: -6%;
  height: 50%;
  width: 50%;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  padding: 0;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-window-comparing {
  font-size: 1em;
  line-height: 0em;
}

.related-modal-table {
  text-align: center;
  width: 90%;
}

.related-modal-table-title {
  text-align: center;
  font-size: 1.2em;
}

.related-modal-items {
  font-size: 1.3em;
  line-height: 0.8em;
}

.modal-table-feature-value {
  font-weight: normal;
  border-bottom: 1px solid black;
}

.modal-table-feature-name {
  /* border: 1px solid black; */
}

/* Modal Close Button */
#close-modal {
  font-size: 3em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fa-plus {
  color: #F4ABAB;
  font-size: 6em;
  cursor: pointer;
}

.fa-plus:hover {
  color: grey;
}

.slick-prev, .slick-next {
  background: black !important;
  width: 25px;
  height: 25px;
}

.img-carousel {
  width: 90%;
  margin-left: 1%;
}

.slick-slider {
  margin-left: 58px !important;
  min-width: 90%;
}

.slick-div {
  /* max-width: 75%; */
  height: auto;
  position: relative;
  overflow: hidden;
}

.slick-track {
  margin-left: 0 !important;
  /* width: auto !important; */
}


.slick-slide, .slick-active, .slick-current{
  margin-left: 0;
  width: auto !important;
}

.slick-outfits {
  width: 75% !important;
  margin: 0;
}

.slick-list {
  width: 90% !important;
}

/* .slick-next {
  right: 10% !important;
} */

/*
[class ^= slick-arrow] {
  display: none !important;
} */
