.related-card-div {
  font-size: 5px;
}
.related-container {
  border: 2px solid black;
  width: 90%;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden
}

.related-list,
.outfits-list {
  width: 100%;
  border: 1px solid blue;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
}

.related-list-card {
  border: 1px solid black;
  height: auto;
  width: 150px;
  min-width: 150px;
  margin: 10px;
  position: relative;
}

.related-list-card-img {
  width: 100%;
  height: 70%;
}


.related-card-category {
  font-size: 10px;
}

.related-card-price {
  font-size: 8px;
}

.related-card-name {
  font-size: 10px;
  font-weight: bold;
}

.related-card-name:hover {
  text-decoration: underline;
}

.checked {
  color: orange;
  float: right;
  position: absolute;
  left: 85%;
  top: 3%;
}

.checked:hover {
  color: white;
}

/* The Modal (background) */
.comparison-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 250px; /* Could be more or less, depending on screen size */
  height: auto;
}

.related-modal-table {
  text-align: center;
}

.related-modal-table-title {
  text-align: center;
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}