/* body {
  width: 100vw;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100%;
} */

/* parent div */
#AppContainer {
  /* parent div layout */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1px;

  /* heigh / width */
  /* width: 100vw;
  height: 100%;

  max-width: 100%; */
  /* max-height: 100px; */
  height: 10vh;
  width: 80%;

  margin: auto;
  /* width: 50%; */
}

/* 1st div */
.Header {
  grid-area: 1 / 1 / 2 / 3;

  /* max-width: 100px;
  max-height: 100px; */
}

/* 2nd div */
.PhotoGalleryContainer {
  grid-area: 2 / 1 / 5 / 2;

  /* height: 100px;
  width: 100px; */

  max-width: 40vh;
  max-height: 40vh;
}

/* 3rd div */
.ProductDetailContainer {
  grid-area: 2 / 2 / 3 / 3;

  /* height: 100px;
  width: 100px; */
}

/* 4thdiv */
.StylesContainer {
  grid-area: 3 / 2 / 4 / 3;

  height: 50vh;
  width: 100vh;

/* 
  max-width: 100px;
  max-height: 100px; */
}

/* 5th div */
.StylesButtonContainer {
  grid-area: 4 / 2 / 5 / 3;

  height: 100px;
  width: 100px;

  max-width: 100px;
  max-height: 100px;
}

/* 6th div */
.RelatedContainer {
  grid-area: 5 / 1 / 6 / 3;
}

/* 7th div */
.QAContainer {
  grid-area: 6 / 1 / 7 / 3;
}

/* 8th div */
.ReviewsContainer {
  grid-area: 7 / 1 / 8 / 3;
}

/* 9th div */
.Footer {
  grid-area: 8 / 1 / 9 / 3;
}

/* grid out the container for styles */

.Header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* ************************************************************************************ */
.ProductDetailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 28px;
}

.PriceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.StylesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* * */

.RatingsContainer {
  grid-area: 1 / 1 / 2 / 3;
}

.ExpandedProductName {
  grid-area: 2 / 1 / 3 / 2;
}

.PriceContainer {
  grid-area: 3 / 1 / 4 / 2;
}

.StyleSelected {
  grid-area: 4 / 1 / 5 / 2;
}

/* * */

.RatingsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 28px;
}

.PriceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 28px;
}

.StyleSelected {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* * */

.StarRatings {
  grid-area: 1 / 1 / 2 / 2;
}

.ReadAllReviewsLink {
  grid-area: 1 / 2 / 2 / 3;
}

.SalePrice {
  grid-area: 1 / 1 / 2 / 2;
}

.RegularPriceText {
  grid-area: 1 / 2 / 2 / 3;
}

.StyleText {
  grid-area: 1 / 1 / 2 / 2;
}

/* *********************************************************************************** */

.MainSliderImg {
  height: 100%;
  width: 100%;
}

/* ////////////////////////////////////////////// */

/* #ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  flex-flow: column wrap;
} */
/* 
.carouselContainer {
  border-width: thin;
  border-style: solid;
  background: #e6e6e6;
  height: 120%;
  width: 50%;
  margin-bottom: 2%;
} */

/* .ProductDetailContainer {
  width: 30%;
  margin-bottom: 2%;
} */

/* .MainSliderImg {

} */

/* .swiper-container-thumbs, */
/* .swiper-slide {
} */

/* .StylesContainer, */
/* .swiper-container .thumbsImg {
  max-width: 100%;
  max-height: 100%;
  /* display: block; remove extra space below image */
/* }  */

.swiper-slide {
  width: 10%;
  margin: 1%;
}

.StylesContainer, .swiper-wrapper {
  width: 72%;
}

/* .styleWidgetimgs {
  border-radius: 50%;
}

.prev {
  color: black;
}

.next {
  color: black;
}





/* .swiper-slide-thumb-active {
  border-bottom: 1px solid grey;
} */

/* .crossedOutOriginalPrice {
  text-decoration-line: line-through;
}
.swiper-slide-thumb-active {
  border-bottom: 3px solid grey;
} */
